







.box1{
    display: flex;
}
.box{
    border: 50px solid red;
    width: 200px;
    padding: 50px;
    margin: 20px;
    background-color: bisque;
    text-align: center;
    border-radius: 30px;
    
}
.green{
    border-color: green;
    visibility:hidden
}

.blue{
    border-color: blue;
  
}

.box2{
    display: flex;
}
.sky{
    border-color: skyblue ;
}
.orange{
    border-color: orange;
}

.gray{
    border-color: gray;
}





